.DS_Store
._*
.AppleDouble
.LSOverride
DerivedData/
build/
Build/
*.xcuserstate
*.xcuserdatad/
Screenshots/*.png
Screenshots/AppStore/**/*.tmp
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.html
fastlane/test_output/
fastlane/.env
*.ipa
*.xcarchive
